doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  block style 
    style 
      include ../static/style.css
  block scripts 
      script(src='../static/library.js')
      script(src='../static/send.js')

  title IoT
div.container
  h1 LED CONTROL WITH NODEJS
  h4 LED1
  button(onclick='onFunc()') ON
  button(onclick='offFunc()') OFF



